body {
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline block;
	max-width: 1000px;
	max-width: 1000px;
}

@font-face{
	font-family: 'FRABK';
	src: url("../font/FRABK.ttf") format ("ttf");
	src: url("../font/FRABK.woff") format ("woff");}

	@font-face{
	font-family: 'FRABKIT';
	src: url("../font/FRABKIT.ttf") format ("ttf");
	src: url("../font/FRABKIT.woff") format ("woff");}

header, footer
{
	max-width: 1000px;
	text-align: center;
}

nav{
	padding:0;
	margin: 0.5em;
	background: #006680;
	font-family: "FRABK";
	width: 200px;
	height: 1000px ;
	float: left;
	border: 20px, 
	border color: solid #212121;
	}
a
{
	padding:0;
	margin: 10px;
	color: #FFFFFF;
		display: block;
	}
div
{
	padding: 10px;
	margin: 10px;
	font-family: "FRABK";
	max-width: 600px;
	display: inline-block;
	
}



h1, h2{
	font-family: "FRABK";
	color: #212121;
	margin: 0.25em auto;
	text-align: center

}


h3{
	font-family: "FRABKIT";
	font-style: italic;
	color: #212121;
	margin: 0.25em auto;
	text-align: left;

}
figure{
	padding: 10px;
	margin: 10px;
	display: inline-block;
}